body{background-image: url(jedi.png);
background-attachment: fixed;
background-size: 110%;
background-repeat: no-repeat;}
p{
border: solid;	
border:2px solid #555; border-radius:5px; width: 1000px; text-align:center;  margin:20px; padding:20px;
}